<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>fabric</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .red {
            color: red
        }
    </style>
</head>

<body screen_capture_injected="true" style="padding:0 0; margin:0 0; background-color:#F8F9F9;">
    <h5>Forget pwd under developing </h5>
    <script type="text/javascript" src="/js/forgetpwd.js"></script>
</body>

</html>