<div id="front">
	<div class="bodydiv1">
		<div style="float:left;color: black;width: 800px">
			电话号码<input type="text"  id="sphonenumber" class="input1">
		</div>
		<div style="display: inline-block;position: relative;left: 10px">
			<button class="btn btnb" id="marksphone">标记号码</button>
			<button class="btn btnb" id="getsphone">查询号码</button>
		</div>
	</div>
	<div style="position: relative;top:40px;width:80%;left:5%">
        <div class="bootstrap-table"><div class="fixed-table-toolbar"></div><div class="fixed-table-container" style="padding-bottom: 0px;"><div class="fixed-table-header" style="display: none;"><table></table></div><div class="fixed-table-body"><div class="fixed-table-loading" style="top: 38px;">正在努力地加载数据中，请稍候……</div><table data-toggle="table" class="table-striped table table-hover" style="width:100%;table-layout:fixed;">
        	<colgroup>
				<col style="width:15%">
				<col style="width:30%">
				<col style="width:15%">
				<col style="width:15%">
				<col style="width:25%">
			</colgroup>
			<thead style="background-color:#F8F9F9;border-bottom: solid 2px #dddddd">
		    	<tr>
		    		<th  data-field="0" tabindex="0"><div class="th-inner ">id</div><div class="fht-cell"></div></th>
		    		<th  data-field="1" tabindex="1"><div class="th-inner ">电话号码</div><div class="fht-cell"></div></th>
		    		<th  data-field="2" tabindex="2"><div class="th-inner ">标记次数</div><div class="fht-cell"></div></th>
		    		<th  data-field="3" tabindex="3"><div class="th-inner ">状态</div><div class="fht-cell"></div></th>
		    		<th  data-field="4" tabindex="4"><div class="th-inner ">操作</div><div class="fht-cell"></div></th></tr>
		    </thead>
		    <tbody id="itemlist">
		      <tr><td></td><td></td><td></td><td></td><td><a style='margin:0 5px;' class='mark'>标记</a><a style='margin:0 5px;' class='cancelmark'>取消标记</a><a style='margin:0 5px;' class='delphone'>删除号码</a></td></tr> 
		    </tbody>
		</table></div><div class="fixed-table-footer" style="display: none;"><table><tbody><tr></tr></tbody></table></div><div class="fixed-table-pagination" style="display: none;"></div></div></div><div class="clearfix"></div>
      </div>
      <div style="height:20px;width:100px;position:relative;top:30px"></div>
      <ul class="pagination"  id="page"></ul>
  </div>
  <script type="text/javascript" src="/js/query.js"></script>

