<html>

<head>
  <style>
    .input1 {
      width: 300px;
    }
  </style>
</head>

<body>
  <h3>Create Channel</h3>
  <div class="bodydiv1" id="div_createchannel">
    <div style="float:left;color: black;width: 100%">
      channel Name:
      <input type="text" id="channelName" name="channelName" class=" input1 " value="mychannel">channelConfigPath:
      <input type="text " id="channelConfigPath " name="channelConfigPath" class="input1 " value="../artifacts/channel/mychannel.tx ">
    </div>
    <div style="display: inline-block;position:inherit;top:30px;left: 10px ">
      <button class="btn btnb " id="createChannel">Create Channel</button>
    </div>
  </div>
  <div id="logList_channel ">

  </div>
</body>
<script type="text/javascript ">
  $("#createChannel").click(function () {
    createChannel();
  });

  function createChannel() {
    channelName = $("#channelName").val()
    channelConfigPath = $("#channelConfigPath").val()
    $.ajax({
      async: false,
      type: "post ",
      url: "/channels ",
      data: JSON.stringify({
        "channelName ": channelName,
        "channelConfigPath ": channelConfigPath
      }),
      dataType: "json ",
      beforeSend: function (xhr) {
        alert(sessionStorage.token)
        xhr.setRequestHeader("authorization ", "Bearer " + sessionStorage.token);
        xhr.setRequestHeader("content-type ", "application/json ");
      },
      success: function (data) {
        var response = xhr.responseText
        var ele = document.getElementById("resultArea ")
        if (response == "{} ") {
          alert("Check if channel are existing ")
          return
        }
        ele.value += response + "\n\n "
      },
      error: function (data) {
        var response = xhr.responseText
        alert(response);
        var ele = document.getElementById("resultArea ")
        ele.value += response + "\n\n "
      }
    });
  }
</script>

</html>