<h3>Invoke</h3>
<div id="front">
	<div class="bodydiv1">
		<div style="float:left;color: black;width: 800px">
			Name
			<input type="text" id="itemname" class="input1">
		</div>
		<div style="display: inline-block;position: relative;left: 10px">
			<button class="btn btnb" id="getitem1">Query</button>
		</div>
	</div>
	<div style="position: relative;top:30px;left: 5%;margin: 20px 0">
		<button class="btn btnb" id="upitem">
			Stuff push to chain
		</button>
		<button class="btn btnb" id="downitem">Stuff pull from chain</button>
	</div>
</div>


<script type="text/javascript" src="/js/invoke.js"></script>