<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>- Login</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">

    <style>
        .title {
            position: relative;
            top: 130px;
            width: 100%;
            height: 25px;
            border: none;
            border-radius: 0px;
            font-family: asap;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #FFFFFF;
            text-align: center;
        }

        .redtext {
            color: red
        }
    </style>
</head>

<body style="background-color: #20283F;">

    <div class="text-center" style="height:530px; width:600px;top:140px;position:absolute;left:75%">
        <div style="float:left; height:95%; width:45%;background-color: #FFFFFF;position:relative;top:6px">
            <span style="font-size:20px;position:relative;top:10px;left:5px; text-align:left;">DEBUG-TOOL</span>
            <div style="width:80%;left:20px;top:70px;position:relative">
                <form class="m-t" role="form" action="/users/login" method="post">
                    <div class="form-group">
                        <label id="nameerr" class="redtext"></label>
                        <input type="name" class="form-control" placeholder="name" required="" name="username" id="username" value = "diya">
                    </div>
                    <div class="form-group">
                        <label id="orgerr" class="redtext"></label>
                        <input type="org" class="form-control" placeholder="org" required="" name="orgname" id="orgname" value = "org1">
                    </div>
                    <div class="form-group">
                        <label id="pwderr" class="redtext"></label>
                        <input type="password" class="form-control" placeholder="password" required="" name="password" id="password" value = "1234">
                    </div>
                    <button type="submit" class="btn btn-primary" style="float:right" onClick="return sub()">login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/loginevents.js"></script>
    <script>
        $("#nameerr").text("");
        $("#pwderr").text("");
        var err = "<%= locals.loginerr%>";
        if (err == "nameerr") {
            $("#nameerr").text("name does exist");
        } else if (err == "pwderr") {
            $("#pwderr").text("password wrong");
        }
    </script>




</body>

</html>