<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <h3>Create Channel</h3>
  <div id="div_createchannel">
    <div>
      channelName:
      <input id="channelName" class="input_" type="text" name="channelName" value="mychannel">
      </br>
      User Name:
      <input id="channelConfigPath" class="input_" type="text" name="channelConfigPath" value="../artifacts/channel/mychannel.tx">
    </div>
    <div>
      <button id="createChannel">create Channel</button>
    </div>
  </div>
  <div style="border: solid 1px #dddddd;left: 5%;height: 10px;"></div>
  <div id = "channelList">

  </div>
</body>

</html>