<div style="height:8px">
</div>
<ul class="nav" style="display:block">
  <li id="showfabricins">
    <a>
      <i ></i>
      <span class="menu">Left API</span>
    </a>
  </li>
  <li id="showfabricdev">
    <a>
      <i></i>
      <span class="menu">Debug Tool</span>
    </a>
  </li>
  <li id="showca">
    <a>
      <i ></i>
      <span class="menu">showca</span>
    </a>
  </li>
  <li id="showapi">
    <a>
      <i ></i>
      <span class="menu">showapi</span>
    </a>
  </li>
</ul>