<style>
    /* result */

    #clear {
        position: absolute;
        top: -20px;
        font-size: 14px;
    }

    #result {
        position: absolute;
        top: 50px;
    }

    #resultArea {
        float: left;
        font-size: 13px;
        width: 400px;
        height: 600px;
    }
    /* result */
</style>

<div id="result">
    <input type="button" id="clear" value="Clear Result">
    <textarea readonly id="resultArea"></textarea>
</div>
<script type="text/javascript">
</script>