<style>
.infobar{margin: 20px 10px;background-color: #eeeeee;line-height: 60px;text-align: center;display: inline-block;height: 60px;}
.infospan{margin: auto 10px;color: blue;font-size: 22px;}
</style>
<div id="front">
	<div style="margin: 20px 20px;width: 90%;font-size: 24px;">
		<div style="float: left;">
			<img src='/image/user.png' style="width:80px;height: 80px"><span id="username">aaaa</span>
		</div>
	</div>
	<div style="margin: 20px 20px;width: 80%;font-size: 24px;display: block;position: relative;top: 150px;border: solid 1px #dddddd;">
		<div class="infobar">
			账户名称<span  class="infospan" id="username2">aaaa</span>
		</div>
		<div class="infobar">
			账户余额<span  class="infospan" id="balance2">1200.0</span>
		</div>
		<div class="infobar">
			组织信息<span  class="infospan" id="org2">org1</span>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/personal.js"></script>
