<style>
    #front {
        position: left;
    }

    input[type="button"] {
        margin: 0em;
        font: -webkit-small-control;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
    }

    #clear {
        position: absolute;
        top: -20px;
        right: 50%;
        font-size: 14px;
    }

    #result {
        position: absolute;
        top: 50px;
        right: 10%;
    }

    #resultArea {
        float: right;
        font-size: 13px;
        right: 50%;
        width: 450px;
        height: 600px;
    }

    #invoke_args {
        width: 300px;
        height: 100px;
        text-align: left
    }

    #div_token {
        background-color: rgb(200, 200, 200);
        float: left;
        width: 100%;
    }

    #div_identified {
        background-color: rgb(200, 200, 220);
        float: left;

        width: 100%
    }

    #div_join_form {
        float: left;
    }

    #div_channels {
        float: left;
    }


    input[type="radio"] {
        display: inline-block;
        margin: 0 -2px 0 -1px;
        width: 19px;
        height: 19px;
    }


    input[type="radio"]+label {
        display: inline-block;
        margin: -2px 10px 0 0;
    }

    input[type="radio"]:checked+label {
        background-color: gainsboro
    }


    #div_createchannel {
        background-color: rgb(226, 226, 226);
        float: left;
        width: 100%;
    }

    #div_join {
        background-color: rgb(228, 217, 217);
        width: 100%;
        float: left;
    }

    #div_install {
        background-color: rgb(255, 235, 221);
        float: left;
        width: 100%;
    }

    #div_instantiate {
        background-color: rgb(245, 214, 200);

        float: left;
        width: 100%;
    }

    #div_invoke {
        background-color: rgb(240, 221, 206);

        float: left;
        width: 100%;
    }

    #div_query {
        background-color: rgb(218, 197, 173);

        float: left;
        width: 100%;
    }
</style>

<div id="front">
    <div id="result">
        <input type="button" id="clear" value="Clear Result">
        <textarea readonly id="resultArea"></textarea>
    </div>
    <div id="div_token">
        <form>
            <input type="button" id="enrollAdmin" value="enroll Admin"> username:
            <input type="text" id="username" value="diya"> orgName:
            <input type="text" id="orgName" value="org1">

        </form>
    </div>
    <div id="div_identified">
        <div id="div_select_token">
            &nbsp;Select enrolled user:
            <input type="radio" name="token" value="no token1">
            <label for="token">no user</label>
        </div>
        <div id="div_channels">
            &nbsp;Select existing channel:
        </div>
    </div>

    <div id="div_createchannel">
        <form>
            <input id="createChannel" type="button" value="create Channel"> channelName:
            <input id="channelName" type="text" name="channelName" value="mychannel"> channelConfigPath:
            <input id="channelConfigPath" type="text" name="channelConfigPath" value="../artifacts/channel/mychannel.tx">

        </form>
    </div>

    <div id="div_join">
        <form>
            <input id="joinChannel" type="button" value="join Channel">
            <input id="join_all" type="button" value="join All peers">
            <!-- &nbsp;channelName:
            <input id="join_channelName" type="text" value="mychannel">
            </br> -->
            &nbsp;peers:
            <input type="text" id="join_peers" value="peer1,peer2">

            </br>
            <div id="div_join_form">
                &nbsp;Joined peers:
            </div>
        </form>
    </div>
    </br>
    <div id="div_install">
        1.<input id="installChaincode" type="button" value="install Chaincode">&nbsp;Install Chaincode function:
        <form name="installChaincode">
            peers:
            <input type="text" id="install_peers" value="peer1,peer2"> chaincodeName:
            <input type="text" id="install_chaincodeName" value="mycc">
            </br>
            chaincodePath:
            <input type="text" id="install_chaincodePath" value="github.com/example_cc"> chaincodeVersion:
            <input type="text" id="install_chaincodeVersion" value="v0">

        </form>
    </div>

    <div id="div_instantiate">
        2.<input id="instantiateChaincode" type="button" value="instantiate Chaincode">&nbsp;Instantiate Chaincode function( This will take a few seconds):
        <form>
            &nbsp;chaincodeName:
            <input type="text" id="instan_chaincodeName" value="mycc"> &nbsp;chaincodeVersion:
            <input type="text" id="instan_chaincodeVersion" value="v0">
            <!-- &nbsp;channelName:
            <input type="text" id="instan_channelName" value="mychannel">
            </br> -->
            &nbsp;arg:
            <input type="text" id="instan_args" name="instan_args" value="a,100,b,200">
        </form>
    </div>

    <div id="div_invoke">
        3.<input id="invokeTransaction" type="button" value="Invoke Transaction">&nbsp;Invoke function (move, delete, create):
        <form>
            chaincodeName:
            <input type="text" id="invoke_chaincodeName" value="mycc"> channelName:
            <input type="text" id="invoke_channelName" value="mychannel"> fcn:
            <input type="text" id="invoke_fcn" value="create">
            </br>
            args (move:a,b,10; delete:a; create: ):
            </br>
            <textarea id="invoke_args" value="{a:100,b:200,c:130}">{a:100,b:200,c:130}</textarea>
        </form>
    </div>

    <div id="div_query">
        <p>&nbsp;4.Query Chaincode:</p>
        <form>
            &nbsp;peer:
            <input type="text" id="query_peer" value="peer1">
            </br>
            &nbsp;chaincodeName:
            <input type="text" id="query_chaincodeName" value="mycc">
            </br>
            &nbsp;channelName:
            <input type="text" id="query_channelName" value="mychannel">
            <!-- </br>
            &nbsp;fcn:
            <input type="text" id="query_fcn" value="query"> -->
            </br>
            &nbsp;args:
            <input type="text" id="query_args" value="a">
            </br>
            &nbsp;block ID:
            <input type="text" id="query_blockId" value="1">
            </br>
            &nbsp;Transaction ID:
            <input type="text" id="query_trxnId" value="null">
            </br>
            &nbsp;installType:
            <input type="text" id="query_type" value="installed"> ( e.g. instantiated/ installed)</input>
            </br>
            <input id="query1" type="button" value="query by args"> needs: channelName, chaincodes, peer, args, (fcn query)</input>
            </br>
            <input id="query2" type="button" value="query by blockId"> needs: channelName, blockId, peer</input>
            </br>
            <input id="query3" type="button" value="query by TransactionID"> needs: channelName, TransactionID, peer</input>
            </br>
            <input id="query4" type="button" value="query ChainInfo"> needs: channelName, peer</input>
            </br>
            <input id="query5" type="button" value="query installType"> needs: peer, installType</input>
            </br>
            <input id="query6" type="button" value="query Channels "> needs: peer</input>
        </form>
    </div>
    <div id="div_joined_chaincode">
        &nbsp; Joined Chaincode:
        </br>
    </div>
</div>


<script type="text/javascript" src="js/frameworks/jquery.min.js"></script>
<script type="text/javascript" src="js/old/utility.js"></script>
<script type="text/javascript" src="js/old/init.js"></script>