html,
body {
    background: lightgray;
    height: 100%;
    font-family: Arial;
}
#clear{
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 14px;
}

#result{
    position: absolute;
    top: 50px;
    right: 10px;
}
#resultArea{
    float: right;
    font-size: 13px;
    width: 450px;
    height: 600px;
}

#invoke_args {
    width: 300px;
    height: 200px;
    text-align: left
}

#div_token {
    background-color: rgb(200, 200, 200);
    float: left;
    padding: 10px;
    height: 40px;
    width: 330px;
}

#div_identified {
    background-color: rgb(200, 200, 220);
    float: inherit;
    padding: 10px;
    height: 40px;
    width: 100%
}
#div_join_form{
    float: inherit;
}
#div_channels{
    float: inherit;
}


input[type="radio"] {
    display:inline-block;
    margin:0 -2px 0 -1px;
    width:19px;
    height:19px;
}


input[type="radio"] + label {
    display:inline-block;
    margin:-2px 10px 0 0;
}

input[type="radio"]:checked + label {
    background-color: gainsboro
}


#div_createchannel{
    background-color: rgb(226, 226, 226);
    padding: 10px;
    float: left;
    width: 330px;
    height: 50px;
}
#channelConfigPath{
    width: 220px;
}

#div_join{
    background-color: rgb(228, 217, 217);
    width: 100%;
    float: inherit;
    height: 50px;
    padding:10px;
}
#div_install{
    background-color: rgb(255, 235, 221);
    padding:10px;
    float: left;
    height:150px;
    width: 330px
}
#div_instantiate{
    background-color: rgb(245, 214, 200);
    padding:10px;
    float: inherit;
    height:150px;
    width: 100%;
}
#div_invoke{
    background-color: rgb(240, 221, 206);
    padding:10px;
    float: left;
    width: 330px;
    height: 370px
}
#div_query{
    background-color: rgb(218, 197, 173);
    padding:10px;
    float: inherit;
    width: 100%;
    height: 370px
}