html,
body {
    background: lightgray;
    height: 100%
}

#invoke_args {
    width: 300px;
    height: 200px;
    text-align: left
}

#div_token {
    background-color: rgb(200, 200, 200);
    float: left;
    height: 70px
}

#div_identified {
    background-color: rgb(200, 200, 220);
    float: left;
    padding: 10px;
    height: 50px;
    width: auto
}

#div_createchannel{
    background-color: rgb(226, 226, 226);
    padding: 10px;
    float: left;
    width: 760px
}
#div_join{
    background-color: rgb(232, 232, 232);
    padding:10px;
    width: 760px;
    float: left;
}
#div_install{
    background-color: rgb(238, 238, 238);
    padding:10px;
    float: left;
    height:150px;
    width: 320px
}
#div_instantiate{
    background-color: rgb(244, 244, 244);
    padding:10px;
    float: left;
    height:150px;
    width: 420px;
}
#div_invoke{
    background-color: rgb(250, 250, 250);
    padding:10px;
    float: left;
    width: 320px;
    height: 370px
}
#div_query{
    background-color: rgb(255, 255, 255);
    padding:10px;
    float: left;
    width: 420px;
    height: 370px
}